# ============================================================
# Arquivos temporários, backups e metadados (Linux & Windows)
# ============================================================

# Arquivos temporários comuns
*.tmp
*.temp
*.swp
*.swo
*.bak
*.old
*.orig
*.backup
*~
*.cache
*.log
*.pid

# Arquivos oriundos de deleção enquanto abertos (Linux)
.fuse_hidden*
.nfs*

# Pastas e metadados de desktop Linux
.directory
.Trash-*/

# Arquivos de miniaturas e metadados do Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Arquivos de instalação do Windows
*.cab
*.msi
*.msix
*.msm
*.msp

# Atalhos do Windows
*.lnk

# Dumps em Windows/Cygwin
*.stackdump
